/*==================
    Layout
==================*/
body, a {
    font-family: "Lato", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.4rem;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.mobile .container {
    width: 100%;
}

.page {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
}

html, body {
    height: 100%;
}

.mobile  h2 {
    margin: 1rem 0;
}

.mobile  p {
    color: #666;
    line-height: 1.4rem;
}

/*==================
    Heaader
==================*/
#branding {
    padding: 1rem;
    text-align: center;
}

.mobile #branding img {
    width: 100%;
}

#menu-toggle {
    display: none;
}

#navigation {
    background-color: #263692;
    font-size: 0;
}

.mobile #navigation {
    text-align: center;
}

.mobile #navigation .active {
    background-color: #F26722;
}

.mobile #navigation a {
    color: #fff;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0;
}

#main-menu {
    list-style: none;
    text-align: center;
}

.mobile #main-menu {
    display: none;
    margin: 0;
    padding: 0;
}

#main-menu li {
    display: inline-block;
}

.mobile #main-menu li {
    display: block;
    text-align: center;
}

#main-menu li a {
    color: #fff;
    display: block;
    font-size: 1.1rem;
    font-weight: 300;
    padding: .5rem 2rem;
}

/*==================
    Main
==================*/
.mobile #main {
    margin-bottom: 1rem;
    padding: 0 1rem;
}

#banner {
    border-bottom: 3px solid #eee;
    margin-bottom: 1rem;
    position: relative;
}

.mobile #banner {
    border-bottom: none;
    top: 0;
}

#banner img {
    width: 100%;
}

.banner-content {
    background-color: rgba(242, 103, 34, .8);        
    color: #fff;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 33%;
}

.mobile .banner-content {
    background-color: #fff;
    position: relative;
    width: 100%;
}

.mobile .banner-content h2, .mobile #content h2 {
    color: #F26722;
}

.banner-content h2, .banner-content p {
    padding: 0 2rem;
}

.mobile .banner-content h2, .mobile .banner-content p {
    padding: 0 1rem;
}

#content {
    display: inline-block;
    vertical-align: top;
    width: 66%;
}

.mobile #content {
    padding: 0 1rem;
    width: 100%;
}

#content h2 {
    color: #F26722;
}

#content p {
    color: #666;
    padding-right: 1.5rem;
}

#sidebar {
    background-color: #263692;
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

.mobile #sidebar {
    width: 100%;
}

.mobile #sidebar p {
    color: #fff;
}

#sidebar a {
    color: #F26722;
    float: right;
    margin-bottom: 1em;
}

#news {
    color: #fff;
    padding: 0 1em;
}

.mobile #news {
    padding: 0 1rem 2rem 1rem;
}

.mobile #news h2 {
    padding-top: .5rem;
}

/*==================
    Footer
==================*/
#footer {
    background-color: #666;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

.mobile #footer p {
    color: #fff;
}

#footer p {
    margin: 0;
}